<%= form_for [:admin, @user] do |f| %>
  <div class="mb-4">
    <%= f.label :email, class: "block font-semibold" %>
    <%= f.email_field :email, class: "border p-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :password, class: "block font-semibold" %>
    <%= f.password_field :password, class: "border p-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation, class: "block font-semibold" %>
    <%= f.password_field :password_confirmation, class: "border p-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :role, class: "block font-semibold" %>
    <%= f.select :role, User::ROLES, {}, class: "border p-2 w-full" %>
  </div>

  <%= f.submit class: "px-4 py-2 bg-green-600 text-white rounded" %>
<% end %>
